/* About us */

.about-us {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.about-us h1 {
    font-weight: 200;
    font-size: 3em;
    color: #fadb7d;
    letter-spacing: 10px;
}

.about-us p {
    color: #717171;
    font-size: 1.2em;
}

.about-us img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.product {
    padding: 0rem 0 0 0;
}

.product .container {
    padding: 5rem;
}

.product h3 {
    font-weight: 100;
}

.product .prod-1 {
    background-color: #343434;
    color: #ededed;
    font-weight: 100;
    text-align: center;
    font-size: 1.2em;
}

.product .prod-2 {
    background-color: #fadb7d;
    color: #000000;
    font-weight: 100;
    text-align: center;
    font-size: 1.2em;
}

.product .prod-3 {
    background-color: #343434;
    color: #ededed;
    font-weight: 100;
    text-align: center;
    font-size: 1.2em;
}