/* Privacy Policy */

.privacy .privacy-hero {
    text-align: center;
    padding: 3rem;
}

.privacy .privacy-hero h1 {
    font-weight: 100;
}

.privacy .row {
    padding-bottom: 3rem;
    align-content: center;
}

.privacy .privacy-policy {
    font-weight: 100;
}

.privacy-policy h3 {
    font-weight: 100;
    text-align: center;
    color: #343434;
}