 /* Services */
 
 .services .row {
     padding-top: 5rem;
     text-align: center;
     padding-bottom: 1rem;
 }
 
 .services i {
     color: #fadb7d;
     font-size: 4em;
 }
 
 .services h1 {
     font-weight: 200;
     padding-bottom: 1rem;
     color: #767676;
 }
 
 .services p {
     font-weight: 100;
     font-size: 1.2em
 }